# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=f546b015-bb19-4425-9034-42f9cc945f1b

    # Set to true to disable all reporting
    B:opt-out=false
}


