# Configuration file

general {
    # Enable prefix/suffix expansion [default: true]
    B:enableExpansion=true

    # Max length when reading team prefix/suffix [range: 16 ~ 256, default: 64]
    I:prefixSuffixReadLimit=128

    # Max length when writing team prefix/suffix [range: 16 ~ 256, default: 64]
    I:prefixSuffixWriteLimit=128
}


